<% if (nuevaData.length>0) { %>
 
    <% nuevaData.forEach(element => { %>
        <table class="table table-dark table-striped" id="tabla">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Url</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td><%= element.name %> </td>
                <td> <%= element.price %> </td>
                <td><img src=" <%= element.urlProd %>" alt="imagen-prod"> </td>
               
              </tr>
            </tbody>
          </table>
    
            <% }) %>
            <% } else { %>
                
                <div style='text-align:center; margin: top 40px;'>
                    <h3>No se han encontrado datos</h3>
                    <img src="https://media.giphy.com/media/3o7520JM4Eah9ntP2g/giphy.gif" alt="gif">
                </div>
    <% } %>
            
    